extensions:
	nette.http: Nette\Bridges\HttpDI\HttpExtension
	orisai.http.auth: OriNette\Http\Auth\DI\HttpAuthExtension

orisai.http.auth:
	enabled: true
	users:
		user1: password
		user2: $2y$10$kP2nVtmSOLA2LIDnwNxa9.MpL0VnCddBOGltj1zySsLF7AxYQae3a

services:
	nette.http.response:
		factory: OriNette\Http\Tester\TestResponse
	orisai.http.auth.authenticator:
		setup:
			- setTestMode()
